/* RankingComponent.css */

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

/* Estilo para modo claro */
.ranking-modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 550px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.ranking-modal.show {
    animation: slideIn 0.5s forwards;
}

.ranking-modal.hide {
    animation: slideOut 0.5s forwards;
}

.modal-exit-button {
    position: absolute;
    background-color: white;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.ranking-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5); /* Match the friends modal overlay */
    display: block;
}

.ranking-table-container {
    max-height: 600px; /* Altura máxima de la tabla */
    overflow-y: auto;  /* Agregar scroll vertical */
    position: relative;
  }
  
  .sticky-header {
    position: sticky;
    top: 0;
    background: #222; /* O el color de fondo que uses */
    z-index: 10;
  }

.ranking-table {
    width: 100%;
    border-collapse: collapse;
}

.ranking-table th, .ranking-table td {
    text-align: left;
    padding: 13px;
    box-sizing: border-box; /* Evita cambios por padding o border */
    width: auto;  
    border-bottom: 1px solid #ddd;
}

.ranking-table th {
    background-color: #f4f4f4;
    font-weight: bold;
    text-align: center;
}

.ranking-table td {
    text-align: center;
    align-items: center;
}

.ranking-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Estilo para modo oscuro */
@media (prefers-color-scheme: dark) {
    .ranking-modal {
        background-color: #242424;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    }

    .modal-exit-button {
        background-color: #242424;
    }
    
    .modal-exit-button img {
        filter: invert(1);
    }

    .ranking-overlay {
        background-color: rgba(0, 0, 0, 0.5); /* Match the friends modal overlay */
    }

    .ranking-table th {
        background-color: #242424;
        color: white;
    }

    .ranking-table td {
        color: white;
    }

    .ranking-table tr:nth-child(even) {
        background-color: #444;
    }

    .ranking-table tr:nth-child(odd) {
        background-color: #333;
    }
}
