.solicitudes-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

.solicitudes-row:hover {
  background-color: #f1f1f1; /* Light mode hover effect */
}

.solicitudes-row img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.solicitudes-row .solicitud-label {
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.solicitudes-row .solicitud-buttons {
  display: flex;
  gap: 10px;
}

.solicitudes-row .btn-accept, .solicitudes-row .btn-decline {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.solicitudes-row .btn-accept {
  background-color: #4caf50;
  color: white;
}

.solicitudes-row .btn-accept:hover {
  background-color: #45a049;
}

.solicitudes-row .btn-decline {
  background-color: #f44336;
  color: white;
}

.solicitudes-row .btn-decline:hover {
  background-color: #e53935;
}

.solicitudes-row .solicitud-response {
  font-size: 14px;
  color: #555;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .solicitudes-row {
    background-color: #333;
    border-bottom: 1px solid #555;
    border-radius: 5px;
  }

  .solicitudes-row:hover {
    background-color: #424242; /* Dark mode hover effect */
  }

  .solicitudes-row .solicitud-label {
    color: #ddd;
  }

  .solicitudes-row .btn-accept {
    background-color: #45a049;
  }

  .solicitudes-row .btn-decline {
    background-color: #e53935;
  }

  .modal-exit-button {
    background-color: #242424;
    color: white;
  }
}