/* Estilo para modo claro */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  background: white;
  padding: 2rem;
  border-radius: 5px;
  width: 300px;
  height: auto;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-exit-button {
  position: absolute;
  background-color: white;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.modal-form {
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}

.modal-form-send {
  margin-top: 1rem;
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.modal-form-send:hover {
  background-color: #0056b3;
}

.modal-form-secondary-button {
  padding: 0.75rem;
  background-color: #cbcfd3;
  color: black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.modal-form-secondary-button:hover {
  background-color: #b8bdc1;
}

.modal-form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0rem;
}

.modal-form input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Estilo para modo oscuro */
@media (prefers-color-scheme: dark) {
  .modal-overlay {
      background: rgba(255, 255, 255, 0.1);
  }

  .modal-content {
      background: #242424;
      color: white;
      box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2);
  }

  .modal-exit-button img {
      filter: invert(1);
  }

  .modal-form-send {
      background-color: #0056b3;
      color: white;
  }

  .modal-form-send:hover {
      background-color: #003d7a;
  }

  .modal-form-secondary-button {
      background-color: #555;
      color: white;
  }

  .modal-form-secondary-button:hover {
      background-color: #444;
  }

  .modal-form input {
      background-color: #444;
      color: white;
      border: 1px solid #666;
  }
}
